*.suo
.vs/
bin/
obj/
node_modules/
*.user
packages/
.ntvs_analysis.dat
app.js
app.js.map
main.js
main.js.map
collections.js.map
collections.js
require.config.js
require.config.js.map
AchtungTypescriptServer/AchtungTypescriptServer/Scripts/server/*.js
AchtungTypescriptServer/AchtungTypescriptServer/Scripts/server/**/*.js
AchtungTypescriptServer/AchtungTypescriptServer/Scripts/server/*.js.map
AchtungTypescriptServer/AchtungTypescriptServer/Scripts/server/**/*.js.map
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/knockoutBindings/*.js
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/knockoutBindings/**/*.js
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/knockoutBindings/*.js.map
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/knockoutBindings/**/*.js.map
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/app/*.js
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/app/**/*.js
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/app/*.js.map
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/app/**/*.js.map
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/game/*.js
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/game/**/*.js
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/game/*.js.map
AchtungTypescriptClient/AchtungTypescriptClientSPA/Scripts/game/**/*.js.map
AchtungTypescriptClient/AchtungTypescriptClientSPA/Img/Thumbs.db