*.suo
.vs/
bin/
obj/
node_modules/
*.user
packages/
.ntvs_analysis.dat
app.js
app.js.map
main.js
main.js.map
collections.js.map
collections.js
AchtungTypescriptServer/AchtungTypescriptServer/Scripts/server/*.js
AchtungTypescriptServer/AchtungTypescriptServer/Scripts/server/**/*.js
AchtungTypescriptServer/AchtungTypescriptServer/Scripts/server/*.js.map
AchtungTypescriptServer/AchtungTypescriptServer/Scripts/server/**/*.js.map
AchtungTypescriptClient/AchtungTypescriptClient/Scripts/game/*.js
AchtungTypescriptClient/AchtungTypescriptClient/Scripts/game/**/*.js
AchtungTypescriptClient/AchtungTypescriptClient/Scripts/game/*.js.map
AchtungTypescriptClient/AchtungTypescriptClient/Scripts/game/**/*.js.map
AchtungTypescriptClient/AchtungTypescriptClient/Img/Thumbs.db