<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.4" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.3.3" targetFramework="net452" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.9.4" targetFramework="net452" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net452" />
  <package id="RequireJS" version="2.1.22" targetFramework="net452" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.2.9" targetFramework="net452" />
  <package id="socket.io-client.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net452" />
  <package id="typescript.collections" version="1.0.4" targetFramework="net452" />
  <package id="underscore.js" version="1.8.2" targetFramework="net452" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.6.2" targetFramework="net452" />
</packages>