<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="net452" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.1.7" targetFramework="net452" />
  <package id="jQuery" version="2.2.0" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.8.8" targetFramework="net452" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.9.4" targetFramework="net452" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net452" />
  <package id="Moment.js" version="2.11.1" targetFramework="net452" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.5.9" targetFramework="net452" />
  <package id="RequireJS" version="2.1.22" targetFramework="net452" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.2.9" targetFramework="net452" />
  <package id="socket.io-client.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net452" />
  <package id="typescript.collections" version="1.0.4" targetFramework="net452" />
  <package id="underscore.js" version="1.8.2" targetFramework="net452" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="1.4.1" targetFramework="net452" />
</packages>