<div>
    <label class="page-header">Custom Game Setup (Local play)</label>
    <div class="form-inline">
        <div class="form-group">
            <label>Players:</label>
            <select class="form-control" data-bind="options: $data.maxPlayersOptions, value: $data.maxPlayers"></select>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>AI players:</label>
            <select class="form-control" data-bind="options: $data.aiPlayersOptions, value: $data.aiPlayers"></select>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>Round wins:</label>
            <input class="form-control" style="width: 100px;" data-bind="value: $data.roundsToWin" type="number" min="1" />
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <button class="btn btn-default" data-bind="click: $data.backToMainMenuClicked.bind()">Main Menu</button>
            <button class="btn btn-success" data-bind="click: $data.startGameClicked.bind()">Start Game</button>
        </div>
    </div>
</div>
